.dummy-list{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    margin: auto 0;
}
.dummy-list-item{
    color: gray;
    line-height: 2em;
    padding: 7px;
    font-size: 16px;
    min-width: 48%;
    box-shadow: inset 0 0 0 4px #f7f7f7;
}